<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style>

body {
  background-image: url("https://image.freepik.com/free-vector/background-elegant-white-texture_23-2148438405.jpg");
  height: 100%;
  opacity: 0.83;
  background-position: bottom;
  background-size: cover;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(138, 135, 135);
}
#actived {
  background-color: rgb(66, 66, 68);
}

.container1 {
  width: 75%;
  position: relative;
  left: 10%;
}
.headline{
  position: relative;
}

p {
  font-size: 20px;
}

.active{
  background-color:cornflowerblue;

}

</style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suppliers page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mihraz-7</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homePage' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Tender' %}">Open Tenders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CloseTenders' %}">Close Tenders</a>
          </li>
          <li class="nav-item">
            <a id = "actived" class="nav-link" href="{% url 'supp_page' %}">Suppliers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_tenders' %}">My tenders</a>
          </li>
        </ul>
      </div>
      <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      <a class="nav-link" href="{% url 'my_profile' %}">My Profile</a>
      <a class="nav-link" href="{% url 'contact_us' %}">Contact us</a>
      <a class="nav-link" href="{% url 'account_logout' %}">logOut</a>
    </nav>
   <br><br>
   <div class = "container1">
      <h1 class = "headline">Suppliers List</h1>
      <br>
      <p>Beersheba Municipality (hereinafter: "City Hall") has issued an invitation to apply for inclusion in its suppliers 'and contractors' book which will be used, as applicable, in accordance with the provisions of section 8 of the Municipal Regulations (Tenders), 1987 (hereinafter: "Regulations") for participation. In small tenders and / or for participation in a bid procedure conducted by the municipality in cases of exemption from tenders under Regulation 3 (3) of the Regulations.</p>
      <p>Attached is a list of suppliers / contractors who applied for and accepted.</p>
      <p>It should be clarified that the establishment of the municipality does not undertake to apply for job, product and / or service offers.</p>
   </div>
   <br><br>
   <div class="Suppliers">
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <table class="table table-bordered">
                       <thead>
                           <tr class="active">
                               <th scope="col">Supplier name</th>
                               <th scope="col">Supplier id</th>
                               <th scope="col">Service</th>                               
                            </tr>
                        </thead>
                          <tbody>
                               {% for supplier in suppliers %}
                               
                              <form action="/suppliers/supp_page/" method="POST">
                                 {% csrf_token %}
                                 <div class="supplier">
                                   <tr>
                                     <th scope="row">{{ supplier.Supplier_name }}</th>
                                     <td>{{ supplier.Supplier_id }}</td>
                                     <td>{{ supplier.Service }}</td>
                                  </tr>
                                 </div>
                              </form>
                               {% endfor %}
                          </tbody>
                   </table>
               </div>
           </div>
       </div>
   </div>
  </body>
</html>
