<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mihraz-7</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homePage' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Tender' %}">Tenders</a>
          </li>
        </ul>
      </div>
      <a class="nav-link" href="{% url 'account_logout' %}">Disconnect</a>
    </nav>
    <div class="allTendersOffers">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Tender Id</th>
                  <th scope="col">My Offer</th>
                </tr>
              </thead>
              <tbody>
                <div class="CurrentEmailProfile">
                  {% for offer in allTendersOffers %}
                  <form>
                    <div class="offer">
                      {% if offer.email == CurrentEmailProfile %}
                      <tr class="danger">
                        <td>{{ offer.tender_id }}</td>
                        <td>{{ offer.offer }}</td>
                      </tr>
                      {% endif %}
                    </div>
                  </form>
                  {% endfor %}
                </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
