<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style></style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mihraz-7</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homePage' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Tender' %}">Open Tenders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CloseTenders' %}">Close Tenders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'supp_page' %}">Suppliers</a>
          </li>
        </ul>
      </div>
      <a class="nav-link" href="{% url 'account_logout' %}">logOut</a>
    </nav>
    <br><br>
    <div class="tenders">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tender Name</th>
                                <th scope="col">Tender Id</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Winner</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                                {% for tender in tenders %}
                                
                                <form action="/tenders/CloseTenders/" method="POST">
                                  {% csrf_token %}
                                  <div class="tender">
                                    {% if tender.winner != 'None' and tender.winner != NULL and tender.winner != ""  %}
                                    <tr>
                                      <th scope="row">{{ tender.tender_name }}</th>
                                      <td>{{ tender.tender_id }}</td>
                                      <td>{{ tender.end_date }}</td>
                                      <td>{{ tender.winner }}</td>
                                      
                                      </tr>
                                  </div>
                                  </form>
                                  {%endif%}
                                {% endfor %}

                            </tbody>