<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style>

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(138, 135, 135);
}
#actived {
  background-color: rgb(66, 66, 68);
}

</style>
<title>My Tenders</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mihraz-7</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homePage' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Tender' %}">Open Tenders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CloseTenders' %}">Close Tenders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'supp_page' %}">Suppliers</a>
          </li>
          <li class="nav-item">
            <a id = "actived" class="nav-link" href="{% url 'my_tenders' %}">My tenders</a>
          </li>
        </ul>
      </div>
      <a class="nav-link" href="{% url 'contact_us' %}">Contact us</a>
      <a class="nav-link" href="{% url 'account_logout' %}">logOut</a>
    </nav>
    <br><br>
    <div class="tenders">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th scope="col">Tender Name</th>
                                <th scope="col">My Offer</th>
                            </tr>
                            </thead>
                            <tbody>
                              <div class="CurrentEmailProfile">
                                {% for offer in allTendersOffers %}
                                <form>
                                  <div class="offer">
                                    {% if offer.email == CurrentEmailProfile %}
                                    <tr class="danger">
                                      <td>{{ offer.tender_name }}</td>
                                      <td>{{ offer.offer }}</td>
                                    </tr>
                                    {% endif %}
                                  </div>
                                </form>
                                {% endfor %}
                              </div>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
